<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assets/Earth-Planet@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833, 139}, {196, 196}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {196, 196}}</string>
			<key>sourceSize</key>
			<string>{196, 196}</string>
		</dict>
		<key>assets/FB-f-Logo__blue_1024.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354, 703}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>assets/Galaxy@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1603, 1}, {275, 134}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 134}}</string>
			<key>sourceSize</key>
			<string>{275, 134}</string>
		</dict>
		<key>assets/Giant-Planet@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1880, 1}, {136, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {136, 136}}</string>
			<key>sourceSize</key>
			<string>{136, 136}</string>
		</dict>
		<key>assets/Sun@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1603, 137}, {228, 228}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {228, 228}}</string>
			<key>sourceSize</key>
			<string>{228, 228}</string>
		</dict>
		<key>assets/buttons-28@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 1955}, {243, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {243, 63}}</string>
			<key>sourceSize</key>
			<string>{243, 63}</string>
		</dict>
		<key>assets/buttons-29@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{247, 1985}, {243, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {243, 58}}</string>
			<key>sourceSize</key>
			<string>{243, 58}</string>
		</dict>
		<key>assets/buttons-41@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{803, 1955}, {244, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {244, 63}}</string>
			<key>sourceSize</key>
			<string>{244, 63}</string>
		</dict>
		<key>assets/buttons-42@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1985}, {244, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {244, 58}}</string>
			<key>sourceSize</key>
			<string>{244, 58}</string>
		</dict>
		<key>assets/cosmos2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 703}, {1280, 800}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 800}}</string>
			<key>sourceSize</key>
			<string>{1280, 800}</string>
		</dict>
		<key>assets/cosmos3@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1600, 700}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1600, 700}}</string>
			<key>sourceSize</key>
			<string>{1600, 700}</string>
		</dict>
		<key>assets/cosmos@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{803, 703}, {1250, 549}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1250, 549}}</string>
			<key>sourceSize</key>
			<string>{1250, 549}</string>
		</dict>
		<key>assets/lineDark19@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{492, 1985}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>assets.png</string>
	</dict>
</dict>
</plist>
