<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assets/Earth-Planet@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1654}, {392, 392}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {392, 392}}</string>
			<key>sourceSize</key>
			<string>{392, 392}</string>
		</dict>
		<key>assets/FB-f-Logo__blue_1024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2503, 1}, {1024, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 1024}}</string>
			<key>sourceSize</key>
			<string>{1024, 1024}</string>
		</dict>
		<key>assets/Galaxy@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1102}, {550, 269}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 269}}</string>
			<key>sourceSize</key>
			<string>{550, 269}</string>
		</dict>
		<key>assets/Giant-Planet@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 1592}, {273, 273}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {273, 273}}</string>
			<key>sourceSize</key>
			<string>{273, 273}</string>
		</dict>
		<key>assets/Sun@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{670, 1591}, {456, 456}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {456, 456}}</string>
			<key>sourceSize</key>
			<string>{456, 456}</string>
		</dict>
		<key>assets/buttons-28@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{518, 1102}, {487, 126}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {487, 126}}</string>
			<key>sourceSize</key>
			<string>{487, 126}</string>
		</dict>
		<key>assets/buttons-29@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{646, 1102}, {487, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {487, 116}}</string>
			<key>sourceSize</key>
			<string>{487, 116}</string>
		</dict>
		<key>assets/buttons-41@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{272, 1102}, {488, 126}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {488, 126}}</string>
			<key>sourceSize</key>
			<string>{488, 126}</string>
		</dict>
		<key>assets/buttons-42@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{400, 1102}, {488, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {488, 116}}</string>
			<key>sourceSize</key>
			<string>{488, 116}</string>
		</dict>
		<key>assets/cosmos@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2500, 1099}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2500, 1099}}</string>
			<key>sourceSize</key>
			<string>{2500, 1099}</string>
		</dict>
		<key>assets/lineDark19@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 1867}, {80, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>textureFileName</key>
		<string>assets.png</string>
	</dict>
</dict>
</plist>
